body {
    margin: 0;
    padding: 0px;
}

header {
    background-image: url(./images/header.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    
}

header h1 {
    margin: 0;
    position: relative;
    left: 2rem;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 10rem;
    color: white;
    letter-spacing: 0.7rem;
    text-shadow: 5px 5px 5px black;
}

#header-nav {
    position: relative;
    padding-left: 4rem;
    top: 15vh;
    display: flex;
    justify-content: left;
    gap: 2rem;
    margin: auto auto;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 10rem;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 5px;
    background-color: rgb(11,152,224);
}

.button-text {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    color: white;
    text-align: center;
}

.header-button:hover {
    opacity: 0.7;
}

.header-button:active {
    box-shadow: none;
    opacity: 1;
}

#footer {
    bottom: 0;
    height: 30px;
    background-color: grey;
    width: 100%;
}

main {
    padding: 10px;
}
